Repository draekien/clean-ui: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, prettier --write

ci(lint-staged): include json files in prettier write step
  .lintstagedrc.json
Due: prettier --write

Notes added by 'git notes add'
  d339f73a3aa3efae4efc21a62f4a708dcd5b2e33
Due: none

docs(readme): update readme with usage details
  readme.md
Due: prettier --write

feat(card): created the card component
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/card/__snapshots__/card.test.tsx.snap
  src/components/card/card.styles.tsx
  src/components/card/card.test.tsx
  src/components/card/card.tsx
  src/components/theme/theme.colors.ts
  src/index.ts
  src/stories/card.stories.tsx
  src/utils/size-converter.util.ts
Due: eslint --cache --fix, prettier --write

refactor(abbreviate): renamed abbreviateSize to abbreviate
  src/components/card/card.styles.tsx
  src/components/card/card.test.tsx
  src/utils/size-converter.util.ts
Due: eslint --cache --fix, prettier --write

feat(list): created the list component
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/list/__snapshots__/list.test.tsx.snap
  src/components/list/list.description.tsx
  src/components/list/list.ordered.tsx
  src/components/list/list.styles.tsx
  src/components/list/list.test.tsx
  src/components/list/list.tsx
  src/components/list/list.unordered.tsx
  src/index.ts
  src/stories/list.stories.tsx
  src/types/layouts.ts
Due: eslint --cache --fix, prettier --write

Notes added by 'git notes add'
  df8086b8043f72a4d97fe991de5295e333d7a6eb
Due: none

feat(card): added a no shadow variant to the card component
  docs/badge-branches.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/card/card.styles.tsx
  src/components/card/card.test.tsx
  src/components/card/card.tsx
  src/components/theme/theme.colors.ts
Due: eslint --cache --fix, prettier --write

feat(card): adds the ability to set the border color
  docs/badge-branches.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/card/card.styles.tsx
  src/components/card/card.test.tsx
  src/components/card/card.tsx
Due: eslint --cache --fix, prettier --write

feat(button): updated button styling for more balance
  docs/badge-branches.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/button/__snapshots__/button.test.tsx.snap
  src/components/button/button.styles.tsx
Due: eslint --cache --fix, prettier --write

feat(button): added support for rendering a circular icon only button
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/button/__snapshots__/button.test.tsx.snap
  src/components/button/button.styles.tsx
  src/components/button/button.test.tsx
  src/components/button/button.tsx
Due: eslint --cache --fix, prettier --write

docs(list): updated component rows story to use cards
  src/stories/list.stories.tsx
Due: eslint --cache --fix, prettier --write

Notes added by 'git notes add'
  6c9b96d1b815ff995207c826685498da9aac32c6
Due: none

test(toast): added snapshot tests for the toast component
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/toast/__snapshots__/toast.test.tsx.snap
  src/components/toast/toast.test.tsx
  src/index.ts
Due: eslint --cache --fix, prettier --write

feat(toast): created the toast component
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  package.json
  src/components/theme/theme.layouts.ts
  src/components/toast/toast.consumer.tsx
  src/components/toast/toast.container.tsx
  src/components/toast/toast.context.tsx
  src/components/toast/toast.provider.tsx
  src/components/toast/toast.styles.tsx
  src/components/toast/toast.tsx
  src/components/toast/toast.utils.tsx
  src/stories/toast.stories.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

test(toast): added tests for the toast container
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/toast/__snapshots__/toast.test.tsx.snap
  src/components/toast/toast.test.tsx
Due: eslint --cache --fix, prettier --write

Notes added by 'git notes add'
  6840b9c003b6447a26bc8df237d1fe89b4fdf240
Due: none

test(spinner): achieved full test coverage of the spinner component
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/spinner/__snapshots__/spinner.test.tsx.snap
  src/components/spinner/spinner.test.tsx
  src/components/spinner/spinner.variants.styles.tsx
  src/components/spinner/spinner.variants.tsx
Due: eslint --cache --fix, prettier --write

ci(action): added github action for pull requests
  .github/workflows/pull-request.yml
Due: none

ci(actions): update pull request action
  .github/workflows/pull-request.yml
Due: none

ci(actions): removed redundant yarn command
  .github/workflows/pull-request.yml
Due: none

feat(icon): added tooltip prop to the icon component
  docs/badge-branches.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/icon/__snapshots__/icon.test.tsx.snap
  src/components/icon/icon.test.tsx
  src/components/icon/icon.tsx
  src/stories/icon.stories.tsx
Due: eslint --cache --fix, prettier --write

Notes added by 'git notes add'
  5d29629f8e354e22322bb1fe90eda99e5054d30f
Due: none

refactor(input): extract input parts into their own components
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/input/__snapshots__/input.test.tsx.snap
  src/components/input/input.label.tsx
  src/components/input/input.tsx
  src/components/input/input.wrapper.tsx
Due: eslint --cache --fix, prettier --write

feat(input): break down input even further into individual components
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/input/__snapshots__/input.test.tsx.snap
  src/components/input/input.hooks.tsx
  src/components/input/input.styles.tsx
  src/components/input/input.test.tsx
  src/components/input/input.tsx
  src/components/input/input.wrapper.tsx
  src/hooks/useStatusColors.tsx
  src/index.ts
  src/patterns/inputs/input.text.pattern.tsx
  src/stories/input.stories.tsx
  src/stories/input.text.stories.tsx
  src/stories/input.wrapper.stories.tsx
Due: eslint --cache --fix, prettier --write

feat(input): implemented input masks using react-input-mask
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  package.json
  src/components/input/__snapshots__/input.test.tsx.snap
  src/components/input/input.styles.tsx
  src/components/input/input.tsx
  src/stories/input.stories.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

test(input): added more snapshot tests for the input component
  docs/badge-branches.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/input/__snapshots__/input.test.tsx.snap
  src/components/input/input.test.tsx
Due: eslint --cache --fix, prettier --write

Notes added by 'git notes add'
  c4542460493892f76fae2793168682fc9a521ce4
Due: none

feat(label): created the label component
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  src/components/input/__snapshots__/input.test.tsx.snap
  src/components/input/input.label.tsx
  src/components/input/input.styles.tsx
  src/components/label/__snapshots__/label.test.tsx.snap
  src/components/label/label.styles.ts
  src/components/label/label.test.tsx
  src/components/label/label.tsx
  src/stories/input.wrapper.stories.tsx
  src/stories/label.stories.tsx
Due: eslint --cache --fix, prettier --write

chore: created codeowners file
  .github/CODEOWNERS
Due: none

chore: update code owners
  .github/CODEOWNERS
Due: none

Notes added by 'git notes add'
  7e06ad43759240a9b9e82b8054a4b3effe9170bf
Due: none

feat(calendar): initial implementation of the calendar component
  docs/badge-branches.svg
  docs/badge-functions.svg
  docs/badge-lines.svg
  docs/badge-statements.svg
  package.json
  src/components/button/button.styles.tsx
  src/components/button/button.tsx
  src/components/calendar/calendar.hooks.ts
  src/components/calendar/calendar.styles.ts
  src/components/calendar/calendar.tsx
  src/components/calendar/calendar.utils.ts
  src/components/theme/theme.colors.ts
  src/stories/calendar.stories.tsx
  yarn.lock
Due: eslint --cache --fix, prettier --write

Path conditions:
  eslint --cache --fix: any of: *.{js,ts,tsx}
  prettier --write: any of: *.{js,css,md,ts,tsx,json}
